/* src/components/ServerInfo.css */

.server-info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-family: 'Orbitron', sans-serif;
    line-height: 0.1;
}

.server-title {
    font-size: 22px;
    font-weight: 600;
    /* margin-bottom: 8px */
}

.server-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.flag-icon {
    width: 20px;
    height: auto;
    border-radius: 2px;
}

.server-description {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.server-description a {
    color: #aaa;
    text-decoration: none;
}

.server-description a:hover {
    text-decoration: underline;
}

.settingsBody {
    width: 64%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}

.settingsBody::-webkit-scrollbar {
    width: 3px;
    /* or any width you prefer */
}

.settingsBody::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    /* subtle track color */
    border-radius: 4px;
    margin-block: 10px;
    /* creates visual top & bottom margin (shortens track) */
}

.settingsBody::-webkit-scrollbar-thumb {
    background: white;
    /* thumb color */
    border-radius: 4px;
    min-height: 40px;
    transition: background 0.3s;
}

.settingsBody::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
    /* darker on hover */
}

@media (max-width: 1024px) {
    .settingsBody {
        width: 100%;
    }
}

@media (max-width : 750px){
    .server-info{
        line-height: normal;
    }
}