.mainTitle {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: start;
    background-color: transparent;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding-right: 15px;
}

.grid-item {
    background-color: transparent;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 150px;
    cursor: pointer;
    transition: transform 0.2s;
}

.grid-item:hover {
    transform: scale(1.02);
}

.image {
    flex: 1;
    background-size: cover;
    background-position: center;
    transition: flex 0.3s ease;
}

.title {
    flex: 0.5;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding: 10px;
    text-align: left;
    white-space: pre-line;
    transition: flex 0.3s ease;
}

.grid-item:hover .title {
    flex: 0.8;
    background-color: white;
    color: black;

}

.grid-item:hover .image {
    flex: 1.2;
}